<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">EasyHR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/register">Back</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center text-black">Lista Permessi</h2>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>Motivazione</th>
            <th>Stato</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permesso of permessi">
            <td>{{ permesso.userId }}</td>
            <td>{{ permesso.dataInizio }}</td>
            <td>{{ permesso.dataFine }}</td>
            <td>{{ permesso.motivo }}</td>
            <td>{{ permesso.stato }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>