
.navbar {
  background-color: #e07f00 !important; /* Arancione chiaro per la navbar */
}

.navbar-brand, .nav-link {
  font-weight: bold;
  color: #fff !important;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: #e07f00; /* Arancione chiaro per l'intestazione della carta */
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #e07f00;
  border: none;
}

.btn-primary:hover {
  background-color: #f3b560; /* Colore di sfondo durante l'hover */
}

.success-message {
  padding: 1rem;
  background-color: #fbebc8; /* Arancione chiaro per il messaggio di successo */
  border: 1px solid #f5d78f; /* Colore del bordo */
  color: #e07f00; /* Colore del testo */
  border-radius: 0.25rem;
  animation: fadeIn 0.5s ease;
  margin-bottom: 10px; /* Aggiungi spazio sotto al messaggio */
}

.success-message p {
  margin: 0;
  padding-left: 0.5rem;
  font-weight: 700;
}

.success-icon {
  font-size: 1.5rem;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
