<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">EasyHR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/register">Back</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2>Richieste di Permessi</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Data inizio</th>
          <th>Data fine</th>
          <th>Motivo</th>
          <th>ID Utente</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permesso of permessoList">
          <td>{{ permesso.dataInizio }}</td>
          <td>{{ permesso.dataFine }}</td>
          <td>{{ permesso.motivo }}</td>
          <td>{{ permesso.userId }}</td>
          <td>
            <button class="btn btn-success me-2" (click)="approvePermesso(permesso.id)">Approva</button>
            <button class="btn btn-danger" (click)="rejectPermesso(permesso.id)">Rifiuta</button>
          </td>
        </tr>
        <tr *ngIf="permessoList.length === 0">
          <td colspan="5" class="text-center">Nessuna richiesta di permessi da mostrare.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
