.navbar {
  background-color: #e07f00 !important; /* Arancione chiaro per la navbar */
}

.navbar-brand, .nav-link {
  font-weight: bold; /* Imposta il testo in grassetto per il brand della navbar e i link */
  color: #fff !important; /* Colore bianco per il testo del brand e dei link nella navbar */
}

.card {
  border: none; /* Rimuove i bordi della card */
  border-radius: 10px; /* Arrotonda gli angoli della card */
}

.card-header {
  font-size: 1.5rem; /* Imposta la dimensione del font dell'intestazione della card */
  margin-bottom: 1rem; /* Aggiunge un margine inferiore all'intestazione della card */
  background-color: #e07f00; /* Arancione chiaro per l'intestazione della card */
}

.form-label {
  font-weight: bold; /* Imposta il testo delle etichette del form in grassetto */
}

.btn-primary {
  background-color: #e07f00; /* Arancione chiaro per il bottone primario */
  border: none; /* Rimuove il bordo del bottone primario */
}

.btn-primary:hover {
  background-color: #f3b560; /* Colore di sfondo durante l'hover */
}

.success-message {
  padding: 1rem; /* Aggiunge uno spazio interno al messaggio di successo */
  background-color: #fbebc8; /* Arancione chiaro per il messaggio di successo */
  border: 1px solid #f5d78f; /* Colore del bordo */
  color: #e07f00; /* Colore del testo */
  border-radius: 0.25rem; /* Arrotonda gli angoli del messaggio di successo */
  animation: fadeIn 0.5s ease; /* Aggiunge un'animazione di fade-in al messaggio di successo */
  margin-bottom: 10px; /* Aggiunge spazio sotto al messaggio */
}

.success-message p {
  margin: 0; /* Rimuove il margine del paragrafo */
  padding-left: 0.5rem; /* Aggiunge uno spazio a sinistra del paragrafo */
  font-weight: 700; /* Imposta il testo del paragrafo in grassetto */
}

.success-icon {
  font-size: 1.5rem; /* Imposta la dimensione del font dell'icona di successo */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
