/* Stili generici per l'intero sito */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.navbar-nav .nav-link {
  color: white !important; /* Colore del testo bianco */
 
}

.navbar-brand {
  font-weight: bold;
  color: white;  /* Testo bianco per contrasto */

}
